<!DOCTYPE html>
<html>
<head>
  <title>InlineSvgTestApp</title>
  <%= stylesheet_pack_tag 'stylesheets' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
